[Assets]
asset.1.shortcut=#
asset.1.name=floor_grass
asset.1.filename=demo/assets/tiles/scrabling/isometric_tileset/separated_images/tile_023.png
asset.1.pos=0,0
asset.1.dim=32,32

asset.2.shortcut=~
asset.2.name=floor_water
asset.2.filename=demo/assets/tiles/scrabling/isometric_tileset/separated_images/tile_104.png
asset.2.pos=0,0
asset.2.dim=32,32

asset.3.shortcut=P
asset.3.name=player
asset.3.filename=demo/assets/characters/scrabling/critters/stag/critter_stag_SE_idle.png
asset.3.pos=0,0
asset.3.dim=32,32

asset.4.shortcut=W
asset.4.name=wolf
asset.4.filename=demo/assets/characters/scrabling/critters/wolf/wolf-idle.png
asset.4.pos=0,0
asset.4.dim=32,32

asset.5.shortcut=F
asset.5.name=food
asset.5.filename=demo/assets/characters/scrabling/critters/wolf/wolf-idle.png
asset.5.pos=0,0
asset.5.dim=32,32

[Map]
grid.dim=20,20
tile.dim=32,32
tile.pad_y=8

[Entities]
entity.1.shortcut=P
entity.1.type=PLAYER
entity.1.asset=3

entity.2.shortcut=W
entity.2.type=FOLLOW
entity.2.asset=4

entity.3.shortcut=A
entity.3.type=STAND
entity.3.asset=5

entity.4.shortcut=B
entity.4.type=STAND
entity.4.asset=5

entity.5.shortcut=C
entity.5.type=STAND
entity.5.asset=5

entity.6.shortcut=D
entity.6.type=STAND
entity.6.asset=5

entity.7.shortcut=E
entity.7.type=STAND
entity.7.asset=5


[Map.Layout.Layer.0]
####################
####################
####################
####################
####################
#################~~~
###############~~###
#############~~#####
###########~~~######
~~~~~~~~~~~~~~~~~~~~
###############~~###
################~~~~
##################~~
####################
####################
####################
####################
####################
####################
####################

[Map.Layout.Layer.1]
--------------------
-P------------------
--------------------
--------------------
--------------------
--------------------
--------------------
--------------------
--------------------
--------------------
--------------------
--------------------
--------------------
--------------------
--------------------
--------------------
--------------------
--------------------
--------------------
--------------------

[Map.Layout.Layer.2]
--------------------
--------------------
--------------------
--------------------
--------------------
--------------------
--------------------
--------------------
--------------------
--------------------
--------------------
--------------------
--------------------
--------------------
--------------------
--------------------
--------------------
--------------------
------------------W-
--------------------

[Map.Layout.Layer.3]
--------------------
---------A----------
--------------------
--------------------
--------------------
-------------B------
--------------------
--------------------
--------------------
--------------------
--------------------
-----C--------------
--------------------
--------------------
--------------------
--------------------
----------------D---
--------------------
--------------------
E-------------------



